Serial Port : 
{{ if .SerialPortStatus}}
	<span class="label label-success">Connected</span><br><br>
	<a id="disconnect" class="btn btn-default" href="javascript:;">Disconnect <span class="glyphicon glyphicon-link" aria-hidden="true"></span></a>
{{ else }}
	<span class="label label-danger">Disconnected</span><br><br>
	<a id="connect" class="btn btn-default" href="javascript:;">Connect <span class="glyphicon glyphicon-link" aria-hidden="true"></span></a>
{{ end }}

{{ with .Device }}
<h3>Device {{ .Name }}:</h3>
	<div id="message" class="alert alert-danger" role="alert"></div>
	{{ range .Commands }}
		<a class="btn btn-default command" data-command="{{.Name}}" href="javascript:;">
			{{ .Name }} 
			<span class="glyphicon glyphicon-play" aria-hidden="true"></span>
		</a> 
	{{ end }}
{{ end }}